# ignore .venv
.venv/
# ignore .pytest_cache
.pytest_cache/
# ignore .mypy_cache
.mypy_cache/
# ignore .coverage
.coverage
# ignore .vscode
.vscode/
# ignore .idea
.idea/
# ignore .DS_Store
.DS_Store
# ignore __pycache__
__pycache__/
# ignore .env
.env
# ignore .env.*
.env.*
# ignore .log files*.log
# ignore .bak files*.bak
# ignore .tmp files 
*.tmp

# MLflow artifacts
mlruns/
mlflow.db
best_gnb.pkl
confusion_matrix_tuning.png
run_id.txt